/* https://coolors.co/1f96bc-b9e5f4-dcf2f9-bc451f-351409-d47b5e */
:root{
    --main:#489FB5;
    --complement:#FF4824;
    --complementtransp:#FF4824AA;
    --complight:#f99985;
    --light:#F1F8F9;
    --midlight:#F1F8F9;
    --dark:#312820;
    --darktransp:#312820AA;
}

@font-face{
    font-family:"Galada";
    src:url("../fonts/AbrilFatface-Regular.ttf");
}

.container-fluid{
    height:100vh;
}

body{
    color:var(--dark)
}

h2,h3,h4,h5{
    font-family:"Galada",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#mini-widgets{
    box-shadow:3px 3px 5px -2px var(--darktransp);
    z-index: 2;   
}

#menu{  
    overflow:hidden;
    background-color: var(--light);
    box-shadow:3px 3px 5px -2px var(--darktransp);
    z-index:1;
}

@media (min-width:768px){
    #menu{
        height:100vh;
        max-width:0;
    }
    #filters{
        overflow-y: auto;
        scrollbar-width:thin;
        flex-grow: 1;
        align-content: flex-start;
    }
}

#map {
    height: 100%;
    z-index:0;
    padding:0;
}

#widgets{
    align-content:start;
    gap:5px;
    align-items:start;
    width:0;
    height: 0;
    padding:0;
    margin:0;
    overflow:visible;
    z-index:3;
}

#menu.expand{
    max-width:768px;
    transition: max-width 1s;
}

.content.not-shown{
    display:none;
}

.grow{
    flex-grow:1;
}


input[type=number],select{
    width:100%;
    height:26px;
    border-radius: 3px;
    border: 1px solid var(--darktransp);
}

th,.blue-back{
    background-color: var(--main);
    color:var(--light);
}

.separator{
    padding-top:.25rem;
    box-shadow: inset 0 0 2px  var(--darktransp);
}

.collapsed{
    width:0;
    height:0;
    padding:0;
    overflow:hidden;
}

.btn{
    margin:5px;
    background-color: var(--complight);
    font-size: large;
}

.btn-section{
    margin:5px;
    background-color: var(--complight);
    font-size: large;
    height:100%;
    width:100%;
    margin:0;
    border-radius: 0;
    border:1px solid var(--complement);
    font-size: large;
}

.btn-section:hover{
    background-color: var(--complement);
}

.btn:enabled:hover{
    background-color: var(--complement);
    box-shadow: 0 0 0px 3px var(--complementtransp);
}
