/* https://coolors.co/1f96bc-b9e5f4-dcf2f9-bc451f-351409-d47b5e */
:root{
    --main:#489FB5;
    --complement:#FF4824;
    --complementtransp:#FF4824AA;
    --complight:#f99985;
    --light:#F1F8F9;
    --lighttransp:#F1F8F9F3;
    --dark:#312820;
    --darktransp:#312820AA;
}

@font-face{
    font-family:"Galada";
    src:url("../fonts/AbrilFatface-Regular.ttf");
}

.container-fluid{
    height: 100vh; 
    height: 100dvh;
}

body{
    color:var(--dark);
    background-color: var(--light);
}

h2,h3,h4,h5{
    font-family:"Galada",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#mini-widgets{
    box-shadow:3px 3px 5px -2px var(--darktransp);
    z-index: 2;   
}

#menu{  
    overflow:hidden;
    background-color: var(--light);
    box-shadow:3px 3px 5px -2px var(--darktransp);
    z-index:1;
}

@media (min-width:768px){
    #menu{
        height:100vh;
        max-width:0;
    }
    #menu.expand{
        max-width:2068px;
        transition: max-width 1s ease-in;
    }
    #filters,#about{
        overflow-y: auto;
        scrollbar-width:thin;
        flex-grow: 1;
        align-content: flex-start;
    }
}

@media (max-width:767px){
    #menu{
        max-height:0;
    }
    #menu.expand{
        max-height:1000px;
        transition: max-height 1s ease-in;
    }
    #application{
        overflow-y: auto;
        flex-wrap: nowrap;
        scrollbar-width: thin;
    }
}

#map {
    z-index:0;
    padding:0;
}

.not-there{
    width:0;
    height:0;
    padding:0;
    margin:0;
    overflow:visible;
    z-index:3;
}

#widgets{
    align-content:start;
    align-items:start;
    gap:.5rem;
    padding:.5rem;
}

.content.not-shown{
    display:none !important;
}

.grow{
    flex-grow:1;
}


input[type=number],select{
    width:100%;
    height:26px;
    border-radius: 3px;
    border: 1px solid var(--darktransp);
    color:black;
}

.blue-back{
    background-color: var(--main);
    color:var(--light);
}

.separator{
    padding-top:.25rem;
    box-shadow: inset 0 0 2px  var(--darktransp);
}

.collapsed{
    width:0;
    height:0;
    padding:0;
    overflow:hidden;
}

.btn{
    background-color: var(--complight);
    font-size: large;
    color:black;
}

.btn-section{
    background-color: var(--complight);
    font-size: large;
    height:100%;
    width:100%;
    padding:.5rem;
    border-radius: 0;
    border:1px solid var(--complement);
    color:black;
    font-size: large;

}

.active-now{
    font-weight:900;
    box-shadow: inset 0 0 15px 3px var(--complement);
}

.btn.active-now{
    box-shadow: inset 0 0 15px 3px var(--complement),0 0 3px 0px var(--complementtransp);
}

.btn-section:hover{
    background-color: var(--complement);
}

.btn:enabled:hover{
    background-color: var(--complement);
    box-shadow: 0 0 0px 3px var(--complementtransp);
}

.legend{
    background-color: var(--lighttransp);
    box-shadow:3px 3px 5px -2px var(--darktransp);
    border-radius: 10px;

}

.legend-color{
    height:12px;
    width:12px;
    border:1px solid var(--darktransp);
    border-radius: 50%;
}

a{
    color:var(--main)
}

a>i{
    color:var(--dark);
}


.leaflet-popup-content-wrapper {
    background-color: var(--lighttransp) !important;
}